<?xml version="1.0"?>

<model>
  <name>lane_bot</name>
  <version>1.0</version>

  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>jsdbs</name>
    <email>none@example.com</email>
  </author>

  <description>
    Simple differential drive lane tracing robot for Gazebo simulation.
  </description>
</model>